<html>
    <head>
        <meta charset="utf-8" />
        <title>Batalha Pokemon</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">

            <div class="row mx-0">
                <div class="col">
                    <h6>UUID:</h6>
                    <h6>{{player.uuid}}</h6>
                </div>
                <div class="col">
                    <label>Nome:</label>
                    <input type="text" class="form-control" v-model="player.name" @input="savePlayer()">
                </div>
            </div>

            <div class="row">

                <div class="col-auto">
                    <div class="field m-3">
                        <div v-for="(column, i) in field" :key="'column-' + i">
                            <div 
                                v-for="(line, j) in column" 
                                :key="'line-' + j" 
                                class="cell border" 
                                :class="{ 'bg-dark': line && line.uuid === player.uuid }"
                            >
                                <div v-if="line">
                                    <img 
                                        :src="pokemons[line.pokemonIndex].image"
                                        width="32"
                                        height="32"
                                    >
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>

                <div class="col mt-3 pl-0 pr-5">

                    <h1 v-if="player.dead">Você morreu!</h1>
                    
                    <div v-if="player.dead" class="row justify-content-start mx-0 mb-3">
                        <div 
                            v-for="(pokemon, i) in pokemons" :key="'pokemon-' + i" 
                            class="col-auto px-0"
                        >
                            <button 
                                type="button" 
                                class="btn btn-outline-secondary"
                                :disabled="!player.dead"
                                @click="choosePokemon(i)"
                                style="width: 64px; height: 64px"
                            >
                                <img :src="pokemon.image" style="width: 100%">
                            </button>
                        </div>
                    </div>

                    <table border="1" class="table table-bordered table-striped">
                        <thead class="table-dark">
                          <tr>
                            <th>Nome</th>
                            <th>Pontos</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(player, i) in ranking" :class="{ 'bg-secondary': player.dead }">
                            <td>{{player.name}}</td>
                            <td>{{player.score}}</td>
                          </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <script type="module">
            // Import the functions you need from the SDKs you need
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.14.0/firebase-app.js";
            // TODO: Add SDKs for Firebase products that you want to use
            // https://firebase.google.com/docs/web/setup#available-libraries
            import { getDatabase, ref, get, push, update, onValue } from 'https://www.gstatic.com/firebasejs/10.14.0/firebase-database.js'

            // Your web app's Firebase configuration
            const firebaseConfig = {
                apiKey: "AIzaSyBv4W8Zxf9lSamAlBxC1VC3Iz7_84bJrrw",
                authDomain: "realtime-pokemon-battle.firebaseapp.com",
                projectId: "realtime-pokemon-battle",
                storageBucket: "realtime-pokemon-battle.appspot.com",
                messagingSenderId: "145804621952",
                appId: "1:145804621952:web:fb21c468b28c94ed540e65"
            };

            // Initialize Firebase
            const firebaseApp = initializeApp(firebaseConfig);
            // Initialize Realtime Database and get a reference to the service
            const db = getDatabase(firebaseApp);
            const playersRef = ref(db, "/players");

            var app = new Vue({
                el: '#app',
                data: {
                    //Atributos do componente
                    player: {
                        uuid: '',
                        name: '',
                        dead: true,
                        score: 1
                    },
                    fieldSize: {
                        width: 32,
                        height: 16
                    },
                    field: [],
                    players: [],
                    types: {
                        grass: 0,
                        fire: 1,
                        water: 2
                    },
                    pokemons: [],
                    firebaseKey: null
                },

                mounted() {
                    //Inicialização do componente
                    this.initPokemons();
                    this.loadPlayer();
                    this.initPlayer();
                    this.listenKeyboard();
                    this.listenFirebasePlayersChange();
                },

                computed: {
                    ranking() {
                        return this.players.sort((a, b) => (b.score || 0) - (a.score || 0));
                    }
                },

                methods: {
                    //Métodos
                    getUUID() {
                        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    },

                    initPlayer() {
                        if (!this.player.uuid) {
                            this.player.uuid = this.getUUID();
                        }

                        if (!this.player.x) {
                            this.player.x = this.getRandom(0, this.fieldSize.width - 1);
                        }

                        if (!this.player.y) {
                            this.player.y = this.getRandom(0, this.fieldSize.height - 1);
                        }

                        //this.player.pokemonIndex = 0;
                        //this.player.dead = true;

                        this.savePlayer();
                    },

                    async savePlayer() {
                        localStorage.setItem('player', JSON.stringify(this.player));
                        await this.findFirebasePlayers();
                        let index = this.players.findIndex(p => p.uuid === this.player.uuid);
                        
                        if (index == -1) {
                            this.players.push(this.player);
                            this.player.key = this.createFirebasePlayer();
                        } else {
                            if (!this.firebaseKey) {
                                this.firebaseKey = this.players[index].key;
                            }

                            this.players[index] = this.player;
                            this.updateFirebasePlayer(this.firebaseKey, this.player);
                        }

                        this.refreshField();
                    },

                    loadPlayer() {
                        let player = localStorage.getItem('player');

                        if (player) {
                            this.player = JSON.parse(player);
                        }
                    },

                    refreshField() {
                        this.field = [];

                        for (let i = 0; i < this.fieldSize.width; i++) {
                            this.field.push(new Array(this.fieldSize.height));
                        }

                        for (let p of this.players) {
                            if (!p.dead) {
                                this.field[p.x][p.y] = p;
                            }
                        }
                    },

                    getRandom(min, max) {
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    },

                    initPokemons() {
                        this.pokemons = [
                            {
                                name: 'Bulbassauro',
                                type: this.types.grass,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/1.gif'
                            },
                            {
                                name: 'Charmander',
                                type: this.types.fire,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/4.gif'
                            },
                            {
                                name: 'Squirtle',
                                type: this.types.water,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/7.gif'
                            }
                        ];
                    },

                    listenKeyboard() {
                        document.addEventListener('keyup', (event) => {
                            if (this.player.dead) return;
                            let moved = false;
                            
                            switch(event.key) {
                                case 'ArrowUp':
                                    this.player.y--;
                                    moved = true;
                                    break;
                                case 'ArrowDown':
                                    this.player.y++;
                                    moved = true;
                                    break;
                                case 'ArrowLeft':
                                    this.player.x--;
                                    moved = true;
                                    break;
                                case 'ArrowRight':
                                    this.player.x++;
                                    moved = true;
                                    break;
                            }
                            
                            this.player.x = this.clamp(this.player.x, 0, this.fieldSize.width - 1);
                            this.player.y = this.clamp(this.player.y, 0, this.fieldSize.height - 1);

                            if (moved) {
                                this.savePlayer();
                                this.checkCollision();
                            }
                        });
                    },

                    clamp(value, min, max) {
                        value = Math.max(value, min);
                        value = Math.min(value, max);
                        return value;
                    },

                    choosePokemon(i) {
                        this.player.pokemonIndex = i;
                        this.player.dead = false;
                        this.player.x = null;
                        this.player.y = null;
                        this.initPlayer();
                    },

                    async findFirebasePlayers() {
                        if (this.players.length) return;

                        let snapshot = await get(playersRef).catch((error) => {
                            console.error(error);
                        });
                        
                        if (snapshot && snapshot.exists()) {
                            let value = snapshot.val();
                            this.updatePlayersFromFirebase(value);
                        }
                    },

                    updatePlayersFromFirebase(value) {
                        this.players = [];

                        for (let key in value) {
                            this.players.push({
                                key,
                                ...value[key]
                            });

                            if (value[key].uuid === this.player.uuid) {
                                this.player = value[key];
                            }
                        }  
                        
                        this.refreshField();
                    },

                    createFirebasePlayer() {
                        let result = push(playersRef, this.player);
                        let key = result.key;
                        this.firebaseKey = key;
                        return key;
                    },

                    updateFirebasePlayer(key, player) {
                        if (!key) {
                            throw 'chave não informada';
                        }

                        let updates = {};
                        updates[key] = player;
                        update(playersRef, updates);
                    },

                    listenFirebasePlayersChange() {
                        onValue(playersRef, (snapshot) => {
                            let key = snapshot.key;
                            let value = snapshot.val();
                            this.updatePlayersFromFirebase(value);
                        });
                    },

                    checkCollision() {
                        if (!this.field.length) return;

                        let target = this.field[this.player.x][this.player.y];

                        if (target) {
                            this.checkKill(this.player, target);
                            this.checkKill(target, this.player);
                        }
                    },

                    checkKill(p1, p2) {
                        let t1 = this.pokemons[p1.pokemonIndex].type;
                        let t2 = this.pokemons[p2.pokemonIndex].type;

                        let kill = (
                            (t1 === this.types.fire && t2 === this.types.grass)
                            || (t1 === this.types.grass && t2 === this.types.water)
                            || (t1 === this.types.water && t2 === this.types.fire)
                        );

                        if (kill) {
                            p2.dead = true;

                            this.$nextTick(() => {
                                this.updateFirebasePlayer(p2.key, p2);

                                if (!p1.score) {
                                    p1.score = 0;
                                }

                                p1.score++;

                                this.$nextTick(() => {
                                    this.updateFirebasePlayer(p1.key, p1);
                                });
                            });
                        }

                        return kill;
                    }
                }
            });
        </script>

    <style>
        .field {
            display: flex;
        }

        .cell {
            width: 32px;
            height: 32px;
        }

        * {
            overflow: hidden;
        }
    </style>
    </body>
</html>