<html>
    <head>
        <meta charset="utf-8" />
        <title>Batalha Pokemon</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">

            <div class="row mx-0">
                <div class="col">
                    <h6>UUID:</h6>
                    <h6>{{player.uuid}}</h6>
                </div>
                <div class="col">
                    <label>Nome:</label>
                    <input type="text" class="form-control" v-model="player.name" @input="savePlayer()">
                </div>
            </div>

            <div class="field m-3">
                <div v-for="(column, i) in field" :key="'column-' + i">
                    <div v-for="(line, j) in column" :key="'line-' + j" class="cell border">
                        <div v-if="line">
                            <img 
                                :src="pokemons[line.pokemonIndex].image"
                                width="32"
                                height="32"
                            >
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    //Atributos do componente
                    player: {
                        uuid: '',
                        name: ''
                    },
                    fieldSize: {
                        width: 32,
                        height: 16
                    },
                    field: [],
                    players: [],
                    types: {
                        grass: 0,
                        fire: 1,
                        water: 2
                    },
                    pokemons: []
                },

                mounted() {
                    //Inicialização do componente
                    this.initPokemons();
                    this.loadPlayer();
                    this.initPlayer();

                    // this.playerIndex = this.players.findIndex(p => p.uuid === this.uuid);

                    // if (this.playerIndex === -1) {
                    //     this.playerIndex = this.players.length;
                    // }
                },

                methods: {
                    //Métodos
                    getUUID() {
                        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    },

                    initPlayer() {
                        if (!this.player.uuid) {
                            this.player.uuid = this.getUUID();
                        }

                        if (!this.player.x) {
                            this.player.x = this.getRandom(0, this.fieldSize.width - 1);
                        }

                        if (!this.player.x) {
                            this.player.y = this.getRandom(0, this.fieldSize.height - 1);
                        }

                        this.player.pokemonIndex = 0;

                        console.log(this.player);
                        this.savePlayer();
                    },

                    savePlayer() {
                        localStorage.setItem('player', JSON.stringify(this.player));
                        let index = this.players.findIndex(p => p.uuid === this.player.uuid);

                        if (index == -1) {
                            this.players.push(this.player);
                        } else {
                            this.players[index] = this.player;
                        }

                        this.refreshField();
                    },

                    loadPlayer() {
                        let player = localStorage.getItem('player');

                        if (player) {
                            this.player = JSON.parse(player);
                        }
                    },

                    refreshField() {
                        for (let i = 0; i < this.fieldSize.width; i++) {
                            this.field.push(new Array(this.fieldSize.height));
                        }

                        for (let p of this.players) {
                            if (p.x && p.y) {
                                this.field[p.x][p.y] = p;
                            }
                        }

                        console.log(this.field);
                    },

                    getRandom(min, max) {
                        return Math.floor(Math.random() * (max - min + 1)) + min;
                    },

                    initPokemons() {
                        this.pokemons = [
                            {
                                name: 'Bulbassauro',
                                type: this.types.grass,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/1.gif'
                            },
                            {
                                name: 'Charmander',
                                type: this.types.fire,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/4.gif'
                            },
                            {
                                name: 'Squirtle',
                                type: this.types.water,
                                image: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/7.gif'
                            }
                        ];
                    }
                }
            });
        </script>

    <style>
        .field {
            display: flex;
        }

        .cell {
            width: 32px;
            height: 32px;
        }
    </style>
    </body>
</html>